.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.xlink {
  background-color: #12e462;
  width: fit-content;
  height: fit-content;
  display: flex;

  font-size: 10px;
  color: rgb(74, 10, 248);
}

.xlink1 {
  background-color: #4a12e4;
  width: fit-content;
  height: fit-content;
  display: flex;

  font-size: 10px;
  color: #d5f719;
}

.xlink2 {
  background-color: hsl(66, 92%, 52%);
  width: fit-content;
  height: fit-content;
  display: flex;
  font-size: 10px;
  color: rgb(23, 27, 241);
}
